### Eclipse ###

**\.metadata
**/.metadata
.metadata
**\Servers
**/Servers
**\Entities.map
**/Entities.map
**\target
**/target
**\resources
**/resources
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders